<script setup lang="tsx">
export interface TabType {
  key: string;
  name: string;
}

interface Props {
  tabs: TabType[];
  activeTab?: string;
}

interface Emits {
  (event: "select", _key: TabType["key"]): void;
}

const props = withDefaults(defineProps<Props>(), {
  activeTab: "",
});

const emits = defineEmits<Emits>();

const changeFun = (key: TabType["key"]) => {
  emits("select", key);
};

const blockCls = useNamespace("path-bar");

defineRender(() => {
  return (
    <div class={blockCls.b("container")}>
      {props.tabs.map((item: TabType) => {
        return (
          <div
            class={
              props.activeTab === item.key
                ? blockCls.bm("item", "active")
                : blockCls.b("item")
            }
            onClick={(_e: MouseEvent) => changeFun(item.key)}
          >
            <div class={blockCls.be("item", "text")}>{item.name}</div>
          </div>
        );
      })}
    </div>
  );
});
</script>

<style lang="scss" scoped>
$rootCls: J-path-bar;
.#{$rootCls} {
  &-container {
    @include flexR();
    display: inline-flex;
    box-shadow: $shadow;
    border-radius: 1rem !important;
    background-color: $onPrimary;
    overflow: hidden;
  }
  &-item {
    width: 120px;
    height: 40px;
    background-color: $secondary;
    color: $onSecondary;
    &--active {
      background-color: $primary;
      color: $onPrimary;
      width: 120px;
      height: 40px;
    }
    &__text {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 40px;
      cursor: pointer;
    }
  }
}
</style>
