<script setup lang="tsx">
import { type CSSProperties } from 'nuxt/dist/app/compat/capi';
import { type TabType } from './PathBar.vue';

interface Emits {
  (event: 'select', key: TabType['key']): void
}

const emits = defineEmits<Emits>()

interface Props {
  tabs: TabType[],
  activeTab?: string
}

const props = withDefaults(
  defineProps<Props>(),
  {
    activeTab: undefined,
  }
)

const tabStyle: ComputedRef<CSSProperties> = computed(() => {
  return {
    gridTemplateColumns: `repeat(${props.tabs.length}, 1fr)`
  }
})

const indicatorStyle: ComputedRef<CSSProperties> = computed(() => {
  const index = props.tabs.map((t) => t.name).indexOf(props.activeTab!)
  const width = 100 / props.tabs.length + '%'
  const left = (100 / props.tabs.length) * index + '%'
  return {
    left,
    width,
    }
  },
)

const select = (key: TabType['key']) => {
  emits('select', key)
}
const blockCls = useNamespace('slider-tab')

defineRender(() => {
  return (
    <div 
      class={blockCls.b('container')} 
      style={tabStyle.value}
    >
      {
        props.tabs.map((tab) => {
          return (
            <div
              class={
                tab.key === props.activeTab
                  ? blockCls.bm('tab', 'selected')
                  : blockCls.b('tab')
              }
              onClick={(_e:MouseEvent) => select(tab.key)}
            >
              {
                tab.name
              }
            </div>
          )
        })
      }
    <div 
      class={blockCls.b('indicator')} 
      style={indicatorStyle.value}
    ></div>
  </div>
  )
})
</script>

<style lang="scss" scoped>
$rootCls: J-slider-tab;
.#{$rootCls}-container {
  width: 100%;
  position: relative;
  height: 40px;
  display: grid;
  .#{$rootCls}-tab {
    cursor: pointer;
    padding: 4px 10px;
    width: 100%;
    color: $onSecondary;
    z-index: 5;
    @include flexCc;
    &--selected {    
      cursor: pointer;
      padding: 4px 10px;
      width: 100%;
      z-index: 5;
      @include flexCc;
      color: $onPrimary;
      transition: color 0.3s ease-out;
    }
  }
  .#{$rootCls}-indicator {
    position: absolute;
    height: 32px;
    margin: 4px 0px;
    border-radius: 16px;
    width: 50%;
    left: 0%;
    background: $primary;
    transition: all 0.3s ease-out;
  }
}
</style>
