<script setup lang="ts">
import { PreviewCardProp } from "~/types";
import { ButtonType } from "~/components/buttons/BasicButton.vue";
interface Button {
  isLoading: boolean;
  operation: () => void;
  timer: number;
  type?: ButtonType;
  intervalId?: NodeJS.Timer;
}

interface Data {
  buttonList: Button[];
  cardList: PreviewCardProp[];
}

const blockCls = useNamespace("buttons-grid");

const data = reactive<Data>({
  buttonList: [
    {
      isLoading: false,
      timer: 0,
      intervalId: undefined,
      operation: () => {
        setLoading(0);
      },
    },
    {
      isLoading: false,
      timer: 0,
      type: "plain",
      intervalId: undefined,
      operation: () => {
        setLoading(1);
      },
    },
  ],
  cardList: [
    {
      ratio: 1,
      name: "BasicButton",
      type: "Buttons",
    },
    {
      ratio: 1,
      name: "BasicButton",
      type: "Buttons",
    },
    {
      ratio: 1,
      name: "LinearButton",
      type: "Buttons",
    },
  ],
});

const clearTimer = (index: number) => {
  clearInterval(data.buttonList[index].intervalId);
  data.buttonList[index].timer = 0;
  data.buttonList[index].isLoading = false;
};

const setLoading = (index: number) => {
  data.buttonList[index].isLoading = true;
  data.buttonList[index].intervalId = setInterval(() => {
    data.buttonList[index].timer++;
    if (data.buttonList[index].timer === 5) {
      clearTimer(index);
    }
  }, 1000);
};
</script>

<template>
  <div :class="blockCls.b('container')">
    <HomeGrid 
      title="Buttons" 
      :columns="4">
      <PreviewCard
        v-for="(item, index) in data.cardList"
        :key="index"
        :ratio="item.ratio"
        :name="item.name"
        :type="item.type"
      >
        <component
          :is="item.name"
          :is-loading="data.buttonList[index]?.isLoading"
          :type="data.buttonList[index]?.type"
          @click="data.buttonList[index]?.operation"
          >Button</component
        >
      </PreviewCard>
    </HomeGrid>
  </div>
</template>

<style lang="scss" scoped>
$rootCls: J-buttons-grid;
.#{$rootCls}-container {
  @include flexC();
  padding: 2rem;
}
</style>
