<script setup lang="ts">
import { PreviewCardProp } from "~/types";

interface Data {
  cardList: PreviewCardProp[];
}

const blockCls = useNamespace("grids-grid");

const data = reactive<Data>({
  cardList: [
    {
      ratio: 1,
      name: "TrickGrid",
      type: "Grids",
    },
  ],
});

</script>

<template>
  <div :class="blockCls.b('container')">
    <HomeGrid 
      title="Grids"
      :columns="2"
    >
      <PreviewCard
        v-for="(item, index) in data.cardList"
        :key="index"
        :ratio="item.ratio"
        :name="item.name"
        :type="item.type"
      >
        <component
          :is="item.name"
          ></component
        >
      </PreviewCard>
    </HomeGrid>
  </div>
</template>

<style lang="scss" scoped>
$rootCls: J-grids-grid;
.#{$rootCls}-container {
  @include flexC();
  padding: 2rem;
}
</style>
