<script setup lang="tsx">
import { type PreviewCardProp } from "types";
import { HomeGrid, PreviewCard } from "#components";
import LineLoading from "~/components/Loadings/LineLoading.vue";
import BasicButton from "~/components/buttons/BasicButton.vue";

const blockCls = useNamespace("tabs-grid");

interface Data {
  statusControl: 'loading',
  hasStop: boolean
  scrollNum: '1234'
}

const data = reactive<Data>({
  statusControl: 'loading',
  hasStop: false,
  scrollNum: '1234'
});

const cardList: PreviewCardProp[] = [
  {
    ratio: 3,
    name: "DotLoading",
    type: "Loadings",
  },
  {
    ratio: 3,
    name: 'LineLoading',
    type: 'Loadings'
  }
]

const setHasStop = (val: boolean) => {
  data.hasStop = val
}

defineRender(() => {
  return (
    <div class={blockCls.b("container")}>
      <HomeGrid
        title={"Tabs"}
        columns={2}
      >
        <PreviewCard
          ratio={cardList[0].ratio}
          type={cardList[0].type}
          name={cardList[0].name}
        >
        </PreviewCard>
        <PreviewCard
          ratio={cardList[1].ratio}
          type={cardList[1].type}
          name={cardList[1].name}
        >
          <LineLoading
            hasStop={data.hasStop}
          ></LineLoading>
          <BasicButton
            onClick={(_e: MouseEvent) => setHasStop(true)}
          >has pause</BasicButton>
          <BasicButton
            onClick={(_e: MouseEvent) => setHasStop(false)}
          >no pause</BasicButton>
        </PreviewCard>

      </HomeGrid>
    </div>
  );
});
</script>

<style lang="scss" scoped>
$rootCls: J-tabs-grid;

.#{$rootCls}-container {
  @include flexC();
  padding: 2rem;
}
</style>
