<script setup lang="tsx">
import { type CSSProperties } from "nuxt/dist/app/compat/capi";
import { HomeGrid, PreviewCard, SideMenu } from "#components";
import { type MenuItem } from "~/components/Menus/SideMenu.vue";

interface Data {
  selectedKey: string;
}

const data = reactive<Data>({
  selectedKey: "a",
});

const changeKey = (e: MenuItem) => {
  data.selectedKey = e.id;
};

const itemList = [
  {
    id: "title",
    label: "Title",
    children: [
      {
        id: "a",
        label: "a",
      },
      {
        id: "b",
        label: "b",
      },
      {
        id: "c",
        label: "C",
      },
    ],
  },
  {
    id: "title2",
    label: "Title2",
    children: [
      {
        id: "a2",
        label: "a",
      },
      {
        id: "b2",
        label: "b",
      },
      {
        id: "c2",
        label: "C",
      },
    ],
  },
  { id: "title3", label: "Label" },
];

const blockCls = useNamespace("menus-grid");

const customStyle: CSSProperties = {
  width: "100%",
  height: "100%",
} as const;

defineRender(() => {
  return (
    <div class={blockCls.b("container")}>
      <HomeGrid title="Menus" columns={2}>
        <PreviewCard ratio={"2"} type={"Menus"} name={"SideMenu"}>
          <div style={customStyle}>
            <SideMenu
              selectedKey={data.selectedKey}
              itemList={itemList}
              onSelect={changeKey}
            />
          </div>
        </PreviewCard>
      </HomeGrid>
    </div>
  );
});
</script>

<style lang="scss" scoped>
$rootCls: J-menus-grid;
.#{$rootCls}-container {
  @include flexC();
  padding: 2rem;
}
</style>
