<script setup lang="tsx">
import { HomeGrid, PreviewCard } from "#components";
import { type TabType } from "~/components/tabs/PathBar.vue";

const blockCls = useNamespace("tabs-grid");

interface Data {
  activeTab: string;
}

const data = reactive<Data>({
  activeTab: "test1",
});

const tabs: TabType[] = [
  {
    key: "test1",
    name: "test1",
  },
  {
    key: "test2",
    name: "test2",
  },
  {
    key: "test3",
    name: "test3",
  },
];


const cardList: any[] = [    
    {
      ratio: 2,
      name: "PathBar",
      type: "Tabs",
    },
    {
      ratio: 2,
      name: "SliderTab",
      type: "Buttons",
    },
]

const changeTab = (key: TabType["key"]) => {
  data.activeTab = key;
};

defineRender(() => {
  return (
    <div class={blockCls.b("container")}>
      <HomeGrid 
        title={"Tabs"}
        columns={2}
      >
        {
          cardList.map((card) => {
            return (
              <PreviewCard
                ratio={card.ratio}
                type={card.type}
                name={card.name}
                {
                  ...
                  { 
                    tabs, 
                    activeTab: data.activeTab,
                    onSelect: (k: TabType['key']) => changeTab(k)
                  }
                }
              >
             </PreviewCard>
            )
          })
        }
      </HomeGrid>
    </div>
  );
});
</script>

<style lang="scss" scoped>
$rootCls: J-tabs-grid;
.#{$rootCls}-container {
  @include flexC();
  padding: 2rem;
}
</style>
