<script setup lang="tsx">
import SpinnerLoader from "../icons/SpinnerLoader.vue";

export type ButtonType = "plain" | "primary" | "text";

interface Props {
  value?: string;
  isLoading?: boolean;
  type?: ButtonType;
}

interface Emits {
  (event: 'click', e: MouseEvent): void
}

interface Slots {
  default?: () => JSX.Element;
  loading?: () => JSX.Element;
}

const emits = defineEmits<Emits>()

const buttonCls = useNamespace("button");

const props = withDefaults(defineProps<Props>(), {
  value: undefined,
  isLoading: undefined,
  type: "primary",
});

const slots = defineSlots<Slots>();

defineRender(() => {
  return (
    <button
      class={buttonCls.bm("container", `${props.type}`)}
      onClick={(e: MouseEvent) => emits('click', e)}
    >
      <span class={buttonCls.b("inner")}>
        {props.isLoading ? (
          slots.loading ? (
            slots.loading()
          ) : (
            <SpinnerLoader color="#fff" size={"1rem"} />
          )
        ) : (
          slots.default?.()
        )}
      </span>
    </button>
  );
});
</script>

<style lang="scss" scoped>
$rootCls: J-button;

.#{$rootCls} {
  &-container--primary {
    background-color: $primary;
    min-height: 40px;
    min-width: 80px;
    border-radius: 8px;
    border: 2px solid $border;
    padding: 4px 8px;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-color: $lightPrimary;
      border-color: $onPrimary;
    }

    .#{$rootCls}-inner {
      @include font(1rem, 400, 1.5rem);
      color: $onPrimary;
    }
  }

  &-container--plain {
    background-color: transparent;
    min-height: 40px;
    min-width: 80px;
    border-radius: 8px;
    border: 2px solid $primary;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .#{$rootCls}-inner {
      @include font(1rem, 400, 1.5rem);
      color: $onBackground;
    }
  }
}
</style>
