<template>
  <div class="linear-button">
    <button class="button" @click="$emit('click')">
      <slot class="button-text"></slot>
    </button>
  </div>
</template>

<style lang="scss" scoped>
.linear-button {
  white-space: nowrap;
  text-align: center;
}
.button {
  padding: 1rem 3rem;
  border: none;
  outline: none;
  position: relative;
  color: $onSecondary;
  z-index: 1;
  border-radius: 5px;
  background: $linearGradient;
  cursor: pointer;
  &:hover {
    color: $background;
  }
}
.button::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 4px;
  background-color: $surface;
  z-index: -1;
  transition: 0.4s;
}
.button::after {
  content: "";
  background: $linearGradient;
  background-clip: text;
  color: transparent;
  transition: 0.4s;
}
.button:hover::before {
  opacity: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 1px;
}
.button:hover::after {
  color: $background;
}
</style>
