<template>
  <div class="home-grid">
    <h2 class="title">{{ props.title }}</h2>
    <div
      class="grid"
      :style="{
        gridTemplateColumns: `repeat(${props.columns ?? '6'}, 1fr)`,
      }"
    >
      <slot />
    </div>
  </div>
</template>

<script setup lang="ts">
interface Props {
  title: string;
  columns?: number;
}
const props = defineProps<Props>();
</script>

<style lang="scss" scoped>
.home-grid {
  width: 100%;
  .title {
    color: $primary;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    svg {
      fill: $onBackground;
    }
    @include pad {
      grid-template-columns: repeat(3, 1fr);
    }
    @include phone {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
</style>
