<script setup lang='tsx'>

const blockCls = useNamespace('trick-grid')
const testArray: number[] = []
for (let index = 0; index < 10; index++) {
  testArray.push(index)
}

defineRender(() => {
  return (
   <div 
    class={blockCls.b('container')}
   >
    {
      testArray.map(() => {
        return (
          <div
            class={blockCls.b('item')}
          ></div>
        )
      })
    }
   </div>
  )
})
</script>

<style lang='scss' scoped>
$rootCls: J-trick-grid;
.#{$rootCls}{
  &-container {
    width: 100%;
    overflow-x: scroll;
    background-color: $background;
    scrollbar-color: $secondary;
    scrollbar-width: 10px;
    scrollbar-gutter: always;
    padding: 3rem;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    -webkit-overflow-scrolling: touch;
  }
  &-item {
    min-width: 300px;
    min-height: 350px;
    padding: 1.5rem;
    border-radius: 16px;
    background-color: $secondary;
    box-shadow: -1rem 0 3rem $lightText;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    transition: .2s;
    margin: 0;
  }
  &-item:not(:first-child) {
    margin-left: -130px;
  }
  &-item:focus-within,
  &-item:hover {
    transform: translate(0, -1rem);
  }
  &-item:focus-within~&-item,
  &-item:hover~&-item {
    transform: translateX(130px);
  }

}
</style>