<template>
  <div
    class="svg-wrapper"
    :style="{ width: `${props.size}px`, height: `${props.size}px` }"
  >
    <slot :size="iconSize" />
  </div>
</template>

<script setup lang="ts">
const props = defineProps({
  size: {
    type: [String, Number],
    default: 30,
  },
  iconSize: {
    type: [String, Number],
    default: 18,
  },
});
</script>

<style lang="scss" scoped>
.svg-wrapper {
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  @include flexRc;
  &:hover {
    /* background: darken($background, 10); */
    transform: scale(1.02);
  }
}
</style>
