<script setup lang='ts'>

interface Props {
  name: string
}

const props = defineProps<Props>()

const attrs = useAttrs()

</script>

<template>
  <component
    v-bind="attrs"
    :is="props.name"
  ></component>
</template>

<style lang='scss' scoped>
.J-block-container {
}
</style>