<script setup lang="tsx">
import copy from "copy-to-clipboard";
import { ElMessage } from "element-plus";
import { type CSSProperties } from "nuxt/dist/app/compat/capi";
import ComponentWrapper from "./ComponentWrapper.vue";
import CodeIcon from "~/components/icons/CodeIcon.vue";
import CopyIcon from "~/components/icons/CopyIcon.vue";
import IconWrapper from "~/components/IconWrapper.vue";
import { type CodeTypes } from "~/types/common";

interface Props {
  ratio: string | number;
  name: string;
  type: CodeTypes;
}

interface Slots {
  default?: () => JSX.Element;
}

const attrs = useAttrs()

const slots = defineSlots<Slots>();

const props = defineProps<Props>();

const code = computed(() => {
  return getCode(props.type, props.name);
});

const dialogs = useFinalModal();

const { open: showCode } = dialogs.code({
  para: {
    name: props.name,
    code: code.value,
  },
});

const customStyle: CSSProperties = {
  aspectRatio: props.ratio,
} as const;

const copyCode = () => {
  copy(code.value);
  ElMessage.success("copy successed!");
};

defineRender(() => {
  return (
    <div style={customStyle} class={"preview-card__container"}>
      <span class={"preview-card__title"}>{props.name}</span>
      <div class={"component-wrapper"}>
        {
          slots.default
            ? slots.default()
            : (
              <ComponentWrapper
                {...attrs}
                name={props.name}
              />
            )
        }
      </div>
      <div class={"preview-card__actions"}>
        <div onClick={showCode}>
          <IconWrapper>
            <CodeIcon size={16}></CodeIcon>
          </IconWrapper>
        </div>
        <div onClick={copyCode}>
          <IconWrapper>
            <CopyIcon size={16}></CopyIcon>
          </IconWrapper>
        </div>
      </div>
    </div>
  );
});
</script>

<style lang="scss" scoped>
.preview-card__container {
  background-color: $surface;
  padding: 1rem;
  border-radius: 1rem;
  aspect-ratio: 1;
  width: 100%;
  display: grid;
  grid-template-rows: 2rem 1fr 2rem;
  gap: 1rem;
  box-shadow: $shadow;
  .preview-card__title {
    color: $onSecondary;
    width: 100%;
    text-align: center;
    @include singleLine;
  }
  .component-wrapper {
    text-align: center;
    @include flexC();
    width: 100%;
    max-width: 500px;
  }
  .preview-card__actions {
    text-align: center;
    display: none;
    cursor: pointer;
    :deep(svg) {
      fill: $onSecondary;
    }
  }
  &:hover .preview-card__actions {
    @include flexRsa();
    gap: 1rem;
  }
}
</style>
