<template>
  <div class="default-layout">
    <ColorScheme
      name="'scheme'"
      :props="{ placeholder: String, tag: { type: String, default: 'span' } }"
      placeholder="..."
    >
      <LayoutHeader />
      <div class="default-layout__container">
        <slot />
        <ModalsContainer />
      </div>
      <BasicDialog @confirm="vfm.close('basic-dialog')" @close="closeBasic" />
      <LayoutFooter />
    </ColorScheme>
  </div>
</template>
<script lang="ts" setup>
import { ModalsContainer, useVfm } from "vue-final-modal";
import BasicDialog from "~/components/dialogs/BasicDialog";
import LayoutHeader from "@/blocks/layout/Header";
import LayoutFooter from "@/blocks/layout/Footer";

const vfm = useVfm();
const closeBasic = () => {
  vfm.close("basic-dialog");
};
</script>
<style lang="scss" scoped>
.default-layout {
  display: grid;
  height: 100vh;
  grid-template-rows: 60px 1fr 60px;

  .default-layout__container {
    background-color: $background;
  }
}
</style>
