.default-layout__header {
  width: 100%;
  padding: 0 20px;
  @include flexRsb;
  border: 1px $secondary;
  border-style: none none solid none;
  background-color: $background;

  .default-layout__header--left-panel {
    @include font(20px, 500, 60px, $onBackground);
  }
}
