<script setup lang="tsx">
interface Data {
  val: any;
}

interface Props {
  value?: any;
}

interface Emits {
  (event: "change", _para: any): void;
}

const data = reactive<Data>({
  val: "",
});

const props = withDefaults(defineProps<Props>(), {
  value: "value",
});

const emits = defineEmits<Emits>();

const changeFun = () => {
  emits("change", {});
};

const blockCls = useNamespace("icon");

defineRender(() => {
  return (
    <div class={blockCls.b("page")} onClick={(_: MouseEvent) => changeFun()}>
      {data.val}
      {props.value}
    </div>
  );
});
</script>

<style lang="scss" scoped>
.J-icon-page {
  background-color: $background;
}
</style>
