<script setup lang="ts">
import type { CodeTypes } from "~/types/common";
import MenusSideMenu from "~/components/Menus/SideMenu.vue";
import type { MenuItem } from "~/components/Menus/SideMenu.vue";

interface Data {
  selectedKey: string;
}

const data = reactive<Data>({
  selectedKey: "",
});

const router = useRouter();
const route = useRoute();

const routerMenu: {
  id: CodeTypes;
  label: string;
}[] = [
  {
    id: "Buttons",
    label: "Buttons",
  },
  {
    id: "Menus",
    label: "Menus",
  },
  {
    id: "Tabs",
    label: "Tabs",
  },
  {
    id: 'Grids',
    label: "Grids"
  },
  {
    id: 'Loadings',
    label: "Loadings",
  }
];

const changeRouter = (item: MenuItem) => {
  router.push({
    query: {
      component: item.id,
    },
  });
};

watch(
  () => {
    return route.query;
  },
  (que) => {
    data.selectedKey = (que.component as string) ?? routerMenu[0].id;
  },
  {
    immediate: true,
  }
);

const blockCls = useNamespace("home-page");
</script>

<template>
  <div :class="blockCls.b('container')">
    <div :class="blockCls.b('menu')">
      <MenusSideMenu
        :selected-key="data.selectedKey"
        :item-list="routerMenu"
        @select="changeRouter"
      />
    </div>
    <div :class="blockCls.b('content')">
      <component :is="`${data.selectedKey}Grid`" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
$rootCls: J-home-page;
.#{$rootCls}-container {
  height: 100%;
  @include gridC(200px 1fr);
  .#{$rootCls}-menu {
    height: 100%;
    border-right: 1px solid $secondary;
  }
  .#{$rootCls}-content {
    height: 100%;
  }
}
</style>
