<script setup lang="tsx">
import MenusSideMenu from "../Menus/SideMenu.vue";

export interface MenuItem {
  id: string;
  label: string;
  children?: MenuItem[];
}

interface Data {
  selectedKey: undefined | string;
  expandKey: undefined | string;
}

type Mode = "inline" | "side";

interface Props {
  itemList: MenuItem[];
  mode?: Mode;
  selectedKey: string;
}

interface Emits {
  (event: "select", _item: MenuItem): void;
  (event: "update:selectedKey", _key: string): void;
}

const data = reactive<Data>({
  selectedKey: undefined,
  expandKey: undefined,
});

const props = withDefaults(defineProps<Props>(), {
  mode: () => "side",
  selectedKey: () => "0",
});
const emits = defineEmits<Emits>();

watch(
  () => {
    return props.selectedKey;
  },
  (key) => {
    data.selectedKey = key;
  },
  {
    immediate: true,
  }
);

watch(
  () => {
    return data.selectedKey;
  },
  (key) => {
    if (key !== props.selectedKey) {
      emits("update:selectedKey", key as string);
    }
  }
);

const change = (item: MenuItem) => {
  if (item.children && item.children[1]) {
    if (data.expandKey === item.id) {
      data.expandKey = undefined;
    } else {
      data.expandKey = item.id;
    }
  } else {
    data.selectedKey = item.id;
    emits("select", item);
    emits("update:selectedKey", item.id);
  }
};

const blockCls = useNamespace("side-menu");

defineRender(
  <div class={blockCls.b("container")}>
    {props.itemList.map((item) => {
      return (
        <div class={blockCls.bem("item", "group", `${props.mode}`)}>
          <div
            class={
              props.selectedKey === item.id
                ? blockCls.bem("item", "inner", "actived")
                : blockCls.be("item", "inner")
            }
            onClick={(_: MouseEvent) => change(item)}
          >
            <span>{item.label}</span>
            {["inline"].includes(props.mode) &&
              item.children &&
              item.children[1] && (
                <span
                  class={
                    data.expandKey === item.id
                      ? blockCls.bem("item", "expand-icon", "expand")
                      : blockCls.be("item", "expand-icon")
                  }
                ></span>
              )}
          </div>
          {item.children && item.children[1] && (
            <div
              class={
                props.mode === "inline" && data.expandKey === item.id
                  ? blockCls.bem("item", "children", "expand")
                  : blockCls.be("item", "children")
              }
            >
              <MenusSideMenu
                itemList={item.children}
                selectedKey={data.selectedKey}
                onSelect={change}
              />
            </div>
          )}
        </div>
      );
    })}
  </div>
);
</script>

<style lang="scss" scoped>
$rootCls: J-side-menu;
.#{$rootCls}-container {
  width: 100%;
  .#{$rootCls}-item__group {
    &--side {
      width: 100%;
      position: relative;
      .#{$rootCls}-item__inner {
        color: $onBackground;
        font-weight: 500;
      }
    }
    &--inline {
      width: 100%;
    }
  }
  .#{$rootCls}-item__inner--actived,
  .#{$rootCls}-item__inner {
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 1rem;
  }
  .#{$rootCls}-item__inner--actived {
    background-color: $primary;
    color: $onPrimary;
  }
  .#{$rootCls}-item__expand-icon,
  .#{$rootCls}-item__expand-icon--actived {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 20px;
    &::before {
      content: "";
      width: 10px;
      height: 2px;
      background-color: black;
      display: block;
      transform: rotateZ(45deg);
      transition: all 0.3s linear;
      position: absolute;
      top: 0;
      left: -2px;
      border-radius: 2px;
    }
    &::after {
      content: "";
      width: 10px;
      height: 2px;
      background-color: black;
      display: block;
      transform: rotateZ(45deg);
      transition: all 0.3s linear;
      position: absolute;
      top: 0;
      left: -2px;
      border-radius: 2px;
    }
  }
  .#{$rootCls}-item__inner--actived {
    &::before {
      transform: rotateZ(-45deg);
    }
    &::after {
      transform: rotateZ(45deg);
    }
  }
}
</style>
