<script setup lang="tsx">
import { VueFinalModal } from "vue-final-modal";

export interface CodeDialogPara {
  name: string;
  code: string;
}

interface Props {
  title?: string;
  confirmButtonText?: string;
  cancelButtonText?: string;
  para: CodeDialogPara;
}

const props = withDefaults(defineProps<Props>(), {
  title: "code-dialog",
  confirmButtonText: "confirm",
  cancelButtonText: "cancel",
});

const dialogCls = useNamespace("code-dialog");
defineRender(() => {
  return (
    <VueFinalModal class={dialogCls.b("container")} modalId={"code-dialog"}>
      <div v-highlight class={dialogCls.b("inner")}>
        <pre class={"language-javascript"}>
          <code>{props.para.code}</code>
        </pre>
      </div>
    </VueFinalModal>
  );
});
</script>

<style lang="scss">
$rootCls: J-code-dialog;

.#{$rootCls}-container {
  padding: 4rem 10rem;
  background-color: $background;
  .#{$rootCls}-inner {
    background-color: #000;
    padding: 1rem;
    border-radius: 2rem;
    pre {
      max-height: calc(100vh - 8rem);
      overflow-y: scroll;
      margin: 0px;
      scrollbar-width: none;
    }
    .language-javascript::-webkit-scrollbar {
      display: none;
    }
    code {
    }
  }
  .#{$rootCls}-code {
    color: $onBackground;
  }
}
</style>
